services:  
  quantixy:
    build: .
    container_name: quantixy
    ports:
      - 8888:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./services.yaml:/etc/quantixy/services.yaml
    environment:
      TIMEOUT_MINUTES: 10
      VERBOSE_LOGGING: false
      #LOADING_PAGE_PATH:
      QUANTIXY__exemple.com__container: test
      QUANTIXY__exemple.com__port: 1234
      QUANTIXY__exemple.com__protocol: http
      QUANTIXY__exemple.com__websocket: true
